.table-row-cell:selected .table-cell .hyperlink {
    -fx-text-fill: -fx-text-background-color ;
}

.label:money-negative {
    -fx-text-fill: #dd0000 ;
}

.table-cell:money-negative {
    -fx-text-fill: #dd0000 ;
}

.table-row-cell:selected .table-cell:money-negative {
    -fx-text-fill: -fx-text-background-color ;
}

.table-row-cell:future-date .table-cell {
    -fx-opacity: 0.65 ;
    -fx-font-style: italic ;
}
